<a href="#" class="close">✕</a>
{{photo-canvas photos=photos}}
{{next-photo photos=photos action="nextPhoto"}}
{{prev-photo photos=photos action="prevPhoto"}}
{{actions-panel photos=photos actions=actions}}
{{photo-gallery photos=photos}}
